@model ECinema.Domain.DomainModels.Ticket

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movieGenre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.movieGenre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movieName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.movieName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movieImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.movieImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.validDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.validDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ticketPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ticketPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>